$light-color: #9575cd;
$main-color: #673ab7;
$dark-color: #4527a0;
$second-light: #90caf9;
$second-main: #42a5f5;
$second-dark: #1e88e5;
$gray-light: #eee;
$gray-main: #bdbdbd;
$gray-dark: #757575;

$tab: 600px;
$pc: 1025px;

@mixin mq($bp) {
    @media screen and (min-width: $bp) {
        @content;
    }
}
