$light-color: #9575CD;
$main-color: #673AB7;
$dark-color: #4527A0;
$second-light: #90CAF9;
$second-main: #42A5F5;
$second-dark: #1E88E5;
$gray-light: #eee;
$gray-main: #BDBDBD;
$gray-dark: #757575;

$tab: 600px;
$pc: 1025px;

@mixin mq($bp) {
    @media screen and (min-width: $bp) {
        @content
    }
}