@use '../../styles/var.scss' as var;

.textField {
    display: inline-block;
    position: relative;
    height: 32px;
    width: 100%;
    max-width: var.$tab;
    transition: .2s;
    margin: 5px auto;
    &.error {
        input {

            border: 1px solid #f00;
        }
    }
    
    &.active {
        input {
        background: #fff;

            border: 1px solid var.$second-main;

            &:hover{
            border: 1px solid var.$second-main;
                
            }
        }
        label {
            padding: 0 5px;
            border-radius: 4px;
            top: -10px;
            font-size: 1em;
            left: 5px;
            background: #fff;

        }
    }
    
    input{
        border: 1px solid var.$gray-main;
        border-radius: 4px;
        position: absolute;
        height: 100%;
        top: -1px;
        left: -1px;
        padding: 5px 10px;
        width: 100%;
        outline: none;
        transition: .2s;

        &:hover {
            border: 1px solid #000;
        }
    }
    label{

        position: absolute;
        top: calc(50% - 14px);
        font-size: 2em;
        left: 20px;
        color: var.$gray-dark;
        transition: .2s;
    }
}